.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid lightgray;
  border-radius: 8px;
  padding-block: 20px;
}

.buttons > button {
  flex: 0 1 150px;
  height: 40px;
  font-size: large;
}
